<div class="login-container">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
          <label for="userName">User Name</label>
          <input type="text" class="form-control" id="userName" aria-describedby="emailHelp" placeholder="Enter User Name" formControlName="userName">
          <template [ngTemplateOutlet]="errorTemplate" [ngTemplateOutletContext]="{control: loginForm.get('userName')}"></template>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
        </div>
        <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Submit</button>
      </form>
    </div>
  </div>
</div>

<ng-template #errorTemplate let-control="control">
  <span class="text-danger" *ngIf="control.touched && control.errors?.required"> Required Field</span>
  <span class="text-danger" *ngIf="control.touched && control.errors?.userNameExists"> User Name already exist</span>
</ng-template>
